/JavaApplication6/nbproject/private/
/E1/nbproject/private/
/Saída de dados/nbproject/private/
/SaidaDeDados/nbproject/private/
/SaidaDeDados/build/
/Ex1/nbproject/private/
/Ex1/build/
/ProcessamentoECasting/nbproject/private/
/ProcessamentosECasting/nbproject/private/
/ProcessamentosECasting/build/
/EntradaDeDados/nbproject/private/
/EntradaDeDados/build/
/EntradaDeDadosP2/nbproject/private/
/EntradaDeDadosP2/build/
/FuncoesMatematicas/nbproject/private/
/2 -SaidaDeDados/build/
/2 -SaidaDeDados/nbproject/private/
/3 -EntradaDeDados/build/
/3 -EntradaDeDados/nbproject/private/
/3 -EntradaDeDadosP2/build/
/3 -EntradaDeDadosP2/nbproject/private/
/4 -ProcessamentosECasting/build/
/4 -ProcessamentosECasting/nbproject/private/
/JavaBasico/2 -SaidaDeDados/build/
/JavaBasico/2 -SaidaDeDados/nbproject/private/
/JavaBasico/3 -EntradaDeDados/build/
/JavaBasico/3 -EntradaDeDados/nbproject/private/
/JavaBasico/3 -EntradaDeDadosP2/build/
/JavaBasico/3 -EntradaDeDadosP2/nbproject/private/
/JavaBasico/4 -ProcessamentosECasting/build/
/JavaBasico/4 -ProcessamentosECasting/nbproject/private/
/1 -JavaBasico/2 -SaidaDeDados/build/
/1 -JavaBasico/2 -SaidaDeDados/nbproject/private/
/1 -JavaBasico/3 -EntradaDeDados/build/
/1 -JavaBasico/3 -EntradaDeDados/nbproject/private/
/1 -JavaBasico/3 -EntradaDeDadosP2/build/
/1 -JavaBasico/3 -EntradaDeDadosP2/nbproject/private/
/1 -JavaBasico/4 -ProcessamentosECasting/build/
/1 -JavaBasico/4 -ProcessamentosECasting/nbproject/private/
/Exercícios/Ex2/nbproject/private/
/Exercícios/Ex2/build/
