/JavaApplication6/nbproject/private/
/E1/nbproject/private/
/Saída de dados/nbproject/private/
/SaidaDeDados/nbproject/private/
/SaidaDeDados/build/
/Ex1/nbproject/private/
/Ex1/build/
/ProcessamentoECasting/nbproject/private/
/ProcessamentosECasting/nbproject/private/
/ProcessamentosECasting/build/
/EntradaDeDados/nbproject/private/
/EntradaDeDados/build/
/EntradaDeDadosP2/nbproject/private/
/EntradaDeDadosP2/build/
/FuncoesMatematicas/nbproject/private/
/2 -SaidaDeDados/build/
/2 -SaidaDeDados/nbproject/private/
/3 -EntradaDeDados/build/
/3 -EntradaDeDados/nbproject/private/
/3 -EntradaDeDadosP2/build/
/3 -EntradaDeDadosP2/nbproject/private/
/4 -ProcessamentosECasting/build/
/4 -ProcessamentosECasting/nbproject/private/
/JavaBasico/2 -SaidaDeDados/build/
/JavaBasico/2 -SaidaDeDados/nbproject/private/
/JavaBasico/3 -EntradaDeDados/build/
/JavaBasico/3 -EntradaDeDados/nbproject/private/
/JavaBasico/3 -EntradaDeDadosP2/build/
/JavaBasico/3 -EntradaDeDadosP2/nbproject/private/
/JavaBasico/4 -ProcessamentosECasting/build/
/JavaBasico/4 -ProcessamentosECasting/nbproject/private/
/1 -JavaBasico/2 -SaidaDeDados/build/
/1 -JavaBasico/2 -SaidaDeDados/nbproject/private/
/1 -JavaBasico/3 -EntradaDeDados/build/
/1 -JavaBasico/3 -EntradaDeDados/nbproject/private/
/1 -JavaBasico/3 -EntradaDeDadosP2/build/
/1 -JavaBasico/3 -EntradaDeDadosP2/nbproject/private/
/1 -JavaBasico/4 -ProcessamentosECasting/build/
/1 -JavaBasico/4 -ProcessamentosECasting/nbproject/private/
/Exercícios/Ex2/nbproject/private/
/Exercícios/Ex2/build/
/1 -JavaBasico/EstruturaCondicional/nbproject/private/
/Exercícios/EstruturaCondicional/nbproject/private/
/Exercícios/EstruturaCondicional/build/
/Exercícios/Ex03/nbproject/private/
/Exercícios/Ex03/build/
/Exercícios/Ex3/nbproject/private/
/Exercícios/Ex3/build/
/Exercícios/Ex4/nbproject/private/
/1 -JavaBasico/Switch-case/nbproject/private/
/1 -JavaBasico/Switch-case/build/
/1 -JavaBasico/Condicaoternaria/nbproject/private/
/1 -JavaBasico/Condicaoternaria/build/
/1 -JavaBasico/while/nbproject/private/
/1 -JavaBasico/while/build/
/1 -JavaBasico/For/nbproject/private/
/1 -JavaBasico/For/build/
/1 -JavaBasico/EstruturaRepetitivaFor/nbproject/private/
/1 -JavaBasico/EstruturaRepetitivaFor/build/
/1 -JavaBasico/Foor/nbproject/private/
/Exercícios/Ex4/build/
/Exercícios/Ex5/nbproject/private/
/Exercícios/Ex5/build/
/Exercícios/Ex6/nbproject/private/
/Exercícios/Ex6/build/
/Exercícios/do/nbproject/private/
/1 -JavaBasico/do-while/nbproject/private/
/1 -JavaBasico/do-while/build/
